<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>작성하기</title>
    <link rel="stylesheet" th:href="@{/assets/css/header.css}">
    <link rel="stylesheet" th:href="@{/assets/css/review.css}">
    <!-- <script src="@{/js/includeHTML.js}"></script> -->
    <style>
            html,body{
                margin: 0;
            }

    </style>
</head>
<body>
<header th:replace="header.html :: header"></header>
<!-- <h3 class="review_h3">공개 설정</h3> -->
<div class="form__group">
    <form action="/members/new" method="post">
        <div style="display:flex;">
            <label for="name" class="form__label">이름</label>
            <input type="text" class="form__field" placeholder="이름" name="name" id='name' required/>
        </div>
        <div>
            <textarea class="form-control" name="message" id="message" cols="30" rows="7"
                          placeholder="작성해보세요" spellcheck="false"></textarea>
        </div>
        <button type="submit" class="review_send_btn" onclick="onclicka()">작성</button>
    </form>
</div>
</body>
</html>