<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Movie Note</title>
    <link rel="stylesheet" th:href="@{/assets/css/header.css}">
    <link rel="stylesheet" th:href="@{/assets/css/star.css}">
    <link rel="stylesheet" th:href="@{/assets/css/detail.css}">
</head>
<body>
    <header th:replace="header.html :: header"></header>
    <div class="outer">
        <!-- <div class="detail-wapper"> -->
        <div class="detail">
            <!-- <div class="title">{{title}}</div> -->
            <div class="data1">
                <div class="review" ><span class="t1">내용:</span> <span class="t2">{{review}}</span></div>
                <div class="writer"><span class="t1">작성자:</span> <span class="t2">{{writer}}</span></div>
                <div class="date"><span class="t1">작성 날짜:</span> <span class="t2">{{writed_date|date:'Y.n.j A g:i'}}</span></div>
            </div>
        </div>
        <!-- </div> -->
    </div>
</body>
</html>