<div id="blurry-filter"></div>
<header>
    <div class="navi-section">
        <nav>
            <ul class="navi">
                <li class="nav-item nav-1" onclick="location.href='/home'"><img src="/assets/image/movienote-removebg.png" alt=""></li>
                <div class="right">
                    <li class="nav-item nav-7"><a href="/home/mylist">My Note</a></li>
                    <li class="nav-item nav-2"><a href="/home/list">둘러보기</a></li>
                    <li class="nav-item"><a href="/members/new">작성하기</a></li>
                    <li class="nav-item"><a href="/main/logout">로그아웃</a></li>
                </div>
            </ul>
        </nav>
    </div>
</header>
    